{% extends "base.html" %}

{% block refresh %}<meta http-equiv="refresh" content="100" >{% endblock %}

{% block sidebar %} {% endblock %}




{% block content_title %}Dashboard{% endblock %}

{% block main_content   %}
    <div class="container">
        <div class="btn-group-justify-content-center">
            <a href="?X=1">
            <button type="button" class="btn btn-primary">
                <span data-feather="home"></span> Dashboard
            </button>
            </a>
            <a href="?X=2">
            <button type="button" class="btn btn-primary">
                 <span data-feather="zap"></span> Lampki Solarne
            </button>
            </a>

            </button>
            </a>
        </div>
    </div>




{% endblock %}



